/* General styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: 'Press Start 2P', cursive;
    font-size: small;
    background-color: #0F1123;
    color: white;
}

p {
    margin: 0;
    padding: 5px;
}

span {
    padding: 0 2px;
}

th, tr {
    text-align: center;
    margin: auto;
}

/* Game board styles */
.game-board {
    border: solid 2px;
}

/* Sound icon styles */
#sound-speaker {
    font-size: 30px;
}

.sound-item {
    cursor: pointer;
    padding: 0 0;
}

/* Navbar styles */
.navbar {
    background-color: #0F1123;
}

/* Right column styles */
.right-column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.grid {
    display: grid;
    grid-template-columns: 620px 500px;
}

.btn {
    height: fit-content !important;
}